@font-face {
    font-family: 'Bitterbrush';
    src: url("../fonts/Bitterbrush DEMO.otf");
}
  
@font-face {
    font-family: 'CLBold';
    src: url("../fonts/Champagne & Limousines Bold.ttf");
}
  
@font-face {
    font-family: 'Javata';
    src: url("../fonts/JAVATA.ttf");
}
  
@font-face {
    font-family: 'Permanent';
    src: url("../fonts/PermanentMarker.ttf");
}

body {
  margin: 0;
  padding: 0;
}

div{
  margin:0;
  padding: 0;
}

/*
 *  NAVBAR
 */

.navbar-nav a {
  padding: 0.5rem 1rem !important;
}

/*
 *  SCROLLING CONTAINER CLASSES
 */

.contain {
    height: 100vh;
    /* width: 100vw; */
    position: relative;
}
  
.item {
    position: absolute;
}

/*
 *  GENERAL
 */
/* 
.title {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

h1.title{
  font-family: "Bitterbrush";
  font-size: 10rem;
  text-shadow: 8px 7px #272727;
  color: #375B4A;
}

h2.subheader {
  font-family: "Javata";
  font-size: 2rem;
  color: #272727;
}


.full {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #142D25;
}

.centered {
  align-items: center;
  justify-content: center;
}

.bg-yay {
  background-image: url('../img/A5-cropped.png'), url('../img/errything.png');
  background-size: cover, cover;
  background-attachment: scroll, fixed;
  background-position: bottom, center;
}

/*
 *  FOR ORGS.HTML
 */

/* SAAN TO */

/* .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
} */

/* END SAAN TO */

.socmed {
    width: 1095px;
    margin-left: 98px;
    margin-top: 514px;
}

.sources {
    width: 1100px;
    margin-left: 90px;
    margin-top: 307px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*#title {
    background-image: ; dapat yung pic ni 
    jjoe bg image nito but idk how baka gagawa 
    si jjoe new pic na nakapatong lahat ng 
    layers(?)
}*/

#info {
    background-color: #0E1F1E;
}

#org {
    padding-right: 35px;
}

/* h1.title {
    font-family: "Bitterbrush";
    font-size: 170px;
    width: 1144px;
    text-shadow: 8px 7px #272727;
    color: #375B4A;
    font-weight: normal;
    margin-left: 68px;
    margin-top: 228px;
    text-align: center;
} */

h1.science-header {
    font-family: "Bitterbrush";
    font-size: 155px;
    width: 1052px;
    text-shadow: 8px 7px #ffffff;
    color: #375B4A;
    font-weight: normal;
    margin-left: 114px;
    margin-top: 164px;
    text-align: center;
}

h1.sources {
    font-family: "Bitterbrush";
    font-size: 165px;
    text-shadow: 8px 7px #ffffff;
    color: #375B4A;
    font-weight: normal;
    margin-left: 378px;
    margin-top: 116px;
    text-align: center;
}

/* h2.subheader {
  font-family: "Javata";
  font-size: 30px;
  width: 1000px;
  color: #272727;
  margin-left: 140px;
  margin-top: 456px;
  text-align: center;
} */

h2.about, h2.socmed {
    font-family: "Bitterbrush";
    font-size: 75px;
    color: #638B79;
    font-weight: normal;
    text-shadow: 3px 2px #ffffff;
    margin-left: 530px;
    margin-top: 100px;
}

h2.socmed {
    margin-left: 456px;
    margin-top: 422px;
}

h4.info-science, h4.info-sdg, h4.info-orgs, h4.info-socmed, h4.info-status {
    font-family: "CLBold";
    color: #EAEAEA;
    text-align: center;
}

h4.info-science {
    font-size: 45px;
    width: 1100px;
    /* margin-left: 90px; */
    /* margin-top: 403px; */
}

h4.info-sdg {
    font-size: 43px;
    width: 1202px;
    margin-left: 39px;
    margin-top: 495px;
}

h4.info-orgs {
    font-size: 26px;
    text-align: justify;
    width: 700px;
    margin-left: 530px;
    margin-top: 192px;
}

h4.info-socmed {
    font-size: 30px;
}

h4.info-status {
    font-size: 45px;
    margin-left: 90px;
    margin-top: 542px;
    width: 1100px;
}

h6.sources {
    font-family: "CLBold";
    font-size: 18px;
    color: #EAEAEA;
    text-align: center;
    margin-left: 177px;
    margin-top: 287px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img.sdg {
    width: 300px;
    height: 300px;
    margin-left: 490px;
    margin-top: 120px;
    border-radius: 25px;
}

img.facebook, img.email, img.twitter, img.website {
    width: 64px;
    height: 64px;
    padding-right: 25px;
}

img.amazon, img.rainforest, img.trees, img.conserve, img.wwf, img.haribon {
    width: 382px;
    border-radius: 5px;
}

img.amazon {
    height: 271px;
    margin-left: 51px;
    margin-top: 100px;
}

img.rainforest {
    height: 147px;
    margin-left: 51px;
    margin-top: 162px;
}

img.trees {
    height: 267px;
    margin-left: 51px;
    margin-top: 102px;
}

img.conserve {
    height: 213px;
    margin-left: 51px;
    margin-top: 129px;
}

img.wwf {
    width: 202px;
    height: 267px;
    margin-left: 141px;
    margin-top: 102px;
}

img.haribon {
    width: 302px;
    height: 271px;
    margin-left: 91px;
    margin-top: 99px;
}

img.table {
    width: 936px;
    height: 376px;
    margin-left: 172px;
    margin-top: 116px;
}